.card-experience {
  max-width: 400px;
  border: 20px;
  margin-bottom: 50px;
}

.mat-accordion-container {
    max-width: 410px;
}

.expansion-header {
    height: 100px;
}
.header-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-title {
    font-size: 18px;
    font-weight: bold;
}

.header-company {
  font-size: 13px;
  margin-top: 5px;
  color: gray;
}

.header-period {
  font-size: 13px;
  color: gray;
}

 .mat-expansion-panel-header-description {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
  align-items: center;
  flex-direction: row-reverse;
}

li {
  margin-bottom: 5px;
  margin-right: 35px;
  text-align: justify;
  hyphens: auto;

}