<div class="mat-accordion-container">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="expansion-header">
        <mat-panel-title class="header-panel">
          <div class="header-title">{{ work_experience.role }}</div>
          <div class="header-company">{{ work_experience.company }}</div>
          <div class="header-period">{{ work_experience.period }}</div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="more-icon">
            <mat-icon>expand_more</mat-icon>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <ul *ngFor="let activity of work_experience.activities">
          <li>{{activity}}</li>
         
        </ul>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
